.chat-input {
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;
  border-top: 1px solid rgba(247, 247, 247, 1);
  &__emojiPicker {
    position: absolute;
    bottom: 60px;
  }
  &svg {
    :hover {
      cursor: pointer;
    }
  }
}
.ant-btn {
  outline: none;
  border: none;
}
