.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  &__top {
    text-align: center;
    h2 {
      font-size: 28px;
      padding-bottom: 5px;
    }
    p {
      opacity: 0.5;
      font-size: 18px;
      letter-spacing: 0.1px;
    }
  }
  &__register-link{
    text-align: center;
    display: block;
    letter-spacing: 0.1;
    color: #adadad;
  }
  &__success-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    text-align: center;
    svg{
      font-size: 50px;
    }
    h2{
      margin-top: 20px;
    }
    p{
      color: #adadad;
    }
  }
  .button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14;
    letter-spacing: 0.1px;
    width: 100%;
  }
  .block {
    width: 450px;
  }
}
