@import "~styles/variables";

.dialogs {
  width: 300px;
  &__item {
    $item: &;
    display: flex;
    margin-bottom: 20px;
    &-avatar {
      position: relative;
      flex-basis: 40px;
      margin-right: 11px;
      flex: 0 0 40px;
      width: 40px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    &--online {
      #{$item}-avatar {
        &::before {
          content: "";
          display: block;
          width: 13px;
          height: 13px;
          background-color: $green;
          border-radius: 30px;
          position: absolute;
          border: 3px solid #fff;
          right: 0;
          bottom: -2px;
        }
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      &-top {
        display: flex;
        margin-bottom: 8px;
        b {
          font-weight: 500;
          font-size: 14px;
          flex: 1;
        }
        span {
          opacity: 0.5;
        }
      }
      &-bottom {
        position: relative;
        p {
          opacity: 0.5;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 220px;
        }
        &-counter {
          color: #fff;
          font-weight: 500;
          border-radius: 30px;
          width: 15px;
          height: 15px;
          background-color: #f46b6b;
          position: absolute;
          right: 0;
          bottom: 0;
          text-align: center;
          line-height: 14px;
          font-size: 10px;
          box-shadow: 0 0 0px 3px #fff;
        }
        .message__checked-read {
          position: absolute;
          right: 0;
          left: auto;
          bottom: -2px;
        }
      }
    }
  }
}
