.chat {
  background-color: #fff;
  width: 1100px;
  height: 100%;
  display: flex;
  margin: 0 auto;
  box-shadow: 0px 0px 25px 0px
    rgba(0, 0, 0, 0.042);
  &__sidebar {
    width: 340px;
    border-right: 1px solid rgba(247, 247, 247, 1);
    &-header {
      padding: 20px;
      justify-content: space-between;
      display: flex;
      border-bottom: 1px solid rgba(247, 247, 247, 1);
      align-items: center;
      opacity: 0.7;
      & > span{
        &>svg{
          height: 18px;
          width: 18px;
        }
      }
      & > div {
        span {
          margin-right: 5px;
          &> svg{
            height: 18px;
            width: 18px;
          }
        }
      }
    }
    &-search {
      padding: 20px 20px 20px 20px;
      .ant-input-affix-wrapper{
        border: none;
        background-color: #F7F8F9;
        padding: 8px 11px;
        & > input{
          background-color: #F7F8F9;
        }
      }
      .ant-input-prefix {
        opacity: 0.3;
      }
    }
    .dialogs {
     &__item{
      padding: 10px 20px;
      margin-bottom: 0;
      cursor: pointer;
      &.active,&:hover{
        background-color: #F3F7FF;
      }
     }
    }
  }
  &__dialog {
    flex: 1;
    margin: 0 auto;
    &-header {
      display: flex;
      padding: 16px;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(247, 247, 247, 1);
      &-center {
        text-align: center;
        &>b{
          font-weight: 500;
        }
      }
      &-right{
        justify-content: right;
      }
    }
    &-messages{
      height: 100%;
    }
  }
}
