@import "~styles/variables";

.message{
    $self:&;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    &__avatar{
        display: flex;
        flex-direction: column-reverse;
       img{
        border-radius: 50%;
        width: 33px;
        height: 33px;
        margin-right: 13px;
        margin-bottom: 23px;
       }
    }
    &__bubble{
        background: $blue;
        display: inline-block;
        border-radius: 12px 12px 12px 0px;
        box-shadow: 0px 5px 5px rgba(54,116,255,0.1);
        padding: 17px;
        margin-bottom: 8px;
        max-width: 600px;
    }
    &__text{
        color: #fff;
        line-height: 20px;
    }
    &__date{
        display: block;
        font-size: 12;
        opacity: 0.5;
    }
    &--isme{
        display: flex;
        flex-direction: row-reverse;
        #{$self}__content{
            position: relative;
        }
        #{$self}__bubble{
            background: #fff;
            border: 1px solid #ececec;
            box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
            border-radius: 12px 12px 0px 12px;
        }
        #{$self}__checked-read{
            position: absolute;
            bottom: 20px;
            left: -25px;
            &--no{
                left: -20px;
            }
        }
        #{$self}__text{
            color:$black;
        }
        #{$self}__info{
            text-align: right;
        }
        #{$self}__date{
            text-align: right;
        }
    }
}